*{
  font-family: "Smooch Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
}
.top_bar{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    height: 80px;
    background-color: #dcdde1;
    position: sticky;
    top: 0;
    z-index: 999;
}
.first_img{
    margin-left: 70px;
    margin-top: -40px;
    height: 200px;
    width: 200px;
}


/* navigation bar*/
#main_manu ul{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
}
#main_manu li{
    margin: 0 20px;
    margin-top: 2%;
    position: relative;
}
#main_manu li a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    padding: 25px 20px;
    
}
#main_manu li a:hover{
    background-color: grey;
    font-weight: bold;
    color: #ffffff;
    font-size: 28px;
    padding: 32px 30px;
    transition-duration: .5s;
    border-bottom: 5px solid #a4b83d;
}

/* sub manu */
#main_manu ul ul{
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 200px;
    height: 200px;
    padding: 10px 0;
    z-index: 999;
}
#main_manu ul ul li{
    margin: 0;
    padding: 0;
}
#main_manu ul ul li a{
    display: block;
    padding: 10px 20px;
}
#main_manu ul ul::after{
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
}
#main_manu ul li:hover ul{
    display: inline-block;
}

/* log in button */
.log_in{
    padding: 10px 25px;
    background-color: #a4b83d;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}
.log_in:hover{
    border: 3px solid #a4b83d;
    background-color: #d2cc43;
    padding: 10px 30px;
    transition-duration: .5s;
}

/* body section */
/* body 1 */
.body_1 {
  position: relative;
  height: 700px;
  width: 100%;            
  background-color: transparent;
  overflow: hidden;
}

.img {
  position: relative;
  margin: 4%;
  margin-top: 30px;
  padding: 5%;
}

.img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.text {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 30px;
  color: white;
}
.the{
    font-size: 100px;
    
}
.border1 {
  background-color: #a4b83d3b;
  margin-top: 10%;
  padding: 20px;
  width: 300px;
  height: auto;
  border-radius: 0 10px;
  border-left: 4px solid #a4b83d;
}
/* body 2 */
.body_2{
    background-color: #a4b83d;
    padding: 5px;
    height: 500px;
    width: 100%;
    margin-top: 40px;
}
.body_2 h1{
    font-size: 120px;
    padding: 10%;
    margin-top: -20px;
    opacity: .5;
}
.our_services{
    background-color: #525251;
    margin: 10%;
    margin-top: -110px;
    padding: 7%;
    height: 350px;
    width: 80%;
    border-radius: 10px;
}
.our_services h3{
    font-size: 40px;
    color: #eeecec;
    cursor: pointer;
}
.our_services h3:hover{
    color: #a4b83d;
    transition-duration: .5s;
}
.our_services i{
    margin-right: 30px;
    margin-bottom: 20px;
}
.our_services i:hover{
    font-size: 50px;
    transition-duration: .5s;
}
.img2{
    position: relative;
  margin-left: 60%;
  margin-top: -545px;
  height: 300px;
  width: 500px;
  border: 10px solid #d2cc43;
  background-color: #d2cc43;
  border-radius: 10px;
  
}
.border_div{
  position: relative;
  margin-left: -6%;
  margin-top: 10px;
  height: 300px;
  width: 500px;
  border: 10px solid #1c3c3c;
  background-color: #1c3c3c;
  border-radius: 10px;
}
.border_div img{
  position: absolute;
  margin-left: -6%;
  margin-top: 10px;
  height: 300px;
  width: 500px;
  border-radius: 10px;
}

/* footer section */
footer{
    margin-top: 20%;
    height: 200px;
    width: 100%;
    background-color: #1e2432;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.logo_footer img{
    margin: 15%;
    height: 100px;
    width: 100px;
}
.company{
margin: 15%;
color: floralwhite;
}
.info{
margin: 15%;
color: floralwhite
}
.contract{
margin: 15%;
color: floralwhite
}
.social_media{
    margin-top: 3%;
    
}
.social_media a{
    text-decoration: none;
    color: floralwhite;
    margin-right: 5px;
}
.social_media a:hover{
    color: #a4b83d;
}